page-home {
    .initiate{
        margin-top: -1%;
        color: mediumblue;
        font-size: 18px;
        margin-bottom: -7%;
    }

    .responsibility{
        margin-top: -5%;
        color: mediumblue;
        font-size: 18px;
        margin-bottom: -7%;
    }

    .feedback{
        margin-top: -1%;
        color: mediumblue;
        font-size: 18px;
        // margin-bottom: -7%;
    }

    .labour{
        margin-top: -1%;
        color: mediumblue;
        font-size: 18px;
        // margin-bottom: -7%;
    }

    .sparePart{
        margin-top: -1%;
        color: mediumblue;
        font-size: 18px;
        // margin-bottom: -7%;
    }

}
